/* Styles for Caesar's Salad page */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(158, 240, 165);
}

h1 {
    text-align: center;
    font-size: 72px;
    font-style: bold;
    padding: 10px 40px;
    border: 15px solid rgb(1, 34, 2);
    
    margin: 10px 140px;
    background-color: #2e7d32;
    color: rgb(4, 51, 14);      
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
    width: 50%;
    border: 5px solid rgb(1, 34, 2);
    border-radius: 15px;
    float: left;
    
    
    
}
h2 {
     display: inline-block;
      
     margin-right: 140px;
     margin-top: 20px;
     font-size: 36px;
     color: rgb(4, 51, 14);
     padding: 10px 20px;
     border: 3px solid rgb(1, 34, 2);
     background-color: #2e7d32;  
        border-radius: 15px; 
     
     
}

p {
    font-size: 36px;
    margin: 1px;   
    color: rgb(4, 51, 14);
    padding: 10px 20px;
} 
.time {
    margin-left: 1100px;
    margin-top: 50px;
}